# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# IDEs & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Build / cache
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
